@model IEnumerable<Historique.Models.Utilisateur>

@{
    ViewBag.Title = "NbEvenements";
}

<h2>Nombre d'évènements</h2>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">

    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Nombre d \'évènements par saisonalité'
            },
            subtitle: {
                text: 'Graphique'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Nombre'
                }
            },
            yAxis: {
                title: {
                    text: 'Nombre d\'évènements'
                },
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            },

            series: [{
                name: 'année 2014-2015',
                // pour l'année 2014-2015
                // that in JavaScript, months start at 0 for January, 1 for February etc.
                data: [
                    [Date.UTC(1970, 9, 27), 0],
                    [Date.UTC(1970, 10, 10), 2],
                    [Date.UTC(1970, 10, 18), 3],
                    [Date.UTC(1970, 11, 2), 4],
                    [Date.UTC(1970, 11, 9), 2],
                    [Date.UTC(1970, 11, 16), 2],
                    [Date.UTC(1970, 11, 28), 4],
                    [Date.UTC(1971, 0, 1), 5],
                    [Date.UTC(1971, 0, 8), 7],
                    [Date.UTC(1971, 0, 12), 5],
                    [Date.UTC(1971, 0, 27), 2],
                    [Date.UTC(1971, 1, 10), 2],
                    [Date.UTC(1971, 1, 18), 4],
                    [Date.UTC(1971, 1, 24), 6],
                    [Date.UTC(1971, 2, 4), 3],
                    [Date.UTC(1971, 2, 11), 2],
                    [Date.UTC(1971, 2, 15), 6],
                    [Date.UTC(1971, 2, 25), 7],
                    [Date.UTC(1971, 3, 2), 5],
                    [Date.UTC(1971, 3, 6), 2],
                    [Date.UTC(1971, 3, 13), 7],
                    [Date.UTC(1971, 4, 3), 8],
                    [Date.UTC(1971, 4, 26), 5],
                    [Date.UTC(1971, 5, 9), 4],
                    [Date.UTC(1971, 5, 12), 2]
                ]
            }]
        });
    });

</script>