<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d’informations sur la configuration de votre application ASP.NET, rendez-vous sur 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="api_logger_url" value="http://loggerasp.azurewebsites.net/" />
    <add key="app_name" value="Historique" />
    
    <!-- Google Analytics config -->
    <add key="analytics_api_client_id" value="540518112537-71utuui4jtbgh55u8jjg5avhbu0f7su1.apps.googleusercontent.com" />
    <add key="analytics_api_client_secret" value="notasecret" />
    <add key="analytics_api_account_email" value="540518112537-71utuui4jtbgh55u8jjg5avhbu0f7su1@developer.gserviceaccount.com" />
    <add key="analytics_api_profile_id" value="66930857" />
    <add key="analytics_api_key_file_path" value="YoupHistorique-5f2a15ed8747.p12" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="applications/youphistorique-wepapi.html">
      <error statusCode="404" redirect="Shared/Internal_Server_Error.html" />
      <error statusCode="500" redirect="Shared/Internal_Server_Error.html" />
    </customErrors>
    <trust level="Full"/>
  </system.web>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        --><!-- 
          This line of config means that when a JavaScriptSerializer is used by a web service / page method
          it will automatically register the DateTimeJavaScriptConverter to use.  To use the converter directly in code you would need to enter the below:
          
          var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
          serializer.RegisterConverters(new JavaScriptConverter[] { new DateTimeJavaScriptConverter() });
 
        --><!--
        <jsonSerialization>
          <converters>
            <add name="DateTimeJavaScriptConverter" type="Historique.Mapper.DateTimeJavaScriptConverter"/>
          </converters>
        </jsonSerialization>

      </webServices>
      <scriptResourceHandler enableCompression="false" enableCaching="true"/>
    </scripting>
  </system.web.extensions>-->
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <modules>
			<remove name="AspNetAppHarborIntegration" />
			<add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborModule, Premotion.AspNet.AppHarbor.Integration" />
		</modules></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
